@use "lib/css-vars";
@use "settings/colors";

// ==========================================================================
// Progress
// ==========================================================================

// Loading
$plyr-progress-loading-size: css-vars.var(--plyr-progress-loading-size, 25px) !default;
$plyr-progress-loading-background: css-vars.var(--plyr-progress-loading-background, rgba(colors.$plyr-color-gray-900, 0.6)) !default;

// Buffered
$plyr-video-progress-buffered-background: css-vars.var(--plyr-video-progress-buffered-background, rgba(#fff, 0.25)) !default;
$plyr-audio-progress-buffered-background: css-vars.var(
  --plyr-audio-progress-buffered-background,
  rgba(colors.$plyr-color-gray-200, 0.6)
) !default;
